main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        height: fit-content;
        min-width: 22rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        h1{
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: .75rem;


            input,button{
                padding-inline: 1.5rem;
                padding-block: 1rem;
                border-radius: 1rem;
                border: none;
                outline: none;
                font-size: 1rem;
                font-weight: 700;
            }

            button{
                background-color:  #d10c0c;
                color: whitesmoke;
                cursor: pointer;
            }

        }

        .toggleAuthForm{
                color:  #d10c0c;
                cursor: Pointer;
                text-decoration: none;
            }
    }
}