*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    width: 100%;
}

html{
    background-color: rgb(20, 20, 20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 237, 237);
}