*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgba(20, 20, 20, 0.966);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
  margin: auto;
  width: 90%;
  
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal form {
  background: white;
  padding: 20px;
  width: 300px;
  height: 180px;
  border-radius: .5rem;
}

textarea{
  width: 250px;
  height: 60px;
  border-radius: .25rem;
  padding: .25rem;

}

.modal-btn{
  margin-top : .5rem;
  display: flex;
}

.note-create-form{
  margin-top: 2rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;  
  gap: 1rem;
  /* text-align: center; */
}

.note-create-form:hover{
  border: 2px solid rgb(36, 32, 32);
  border-radius: 1rem;
  background: rgb(26, 25, 25);
  box-shadow: 0px 0p 5px 8px rgb(233, 41, 73);
}


.note-form>input{
  margin-left: .8rem; 
  /* text-align: start; */
  padding-bottom: .4rem;
  padding-inline: .8rem;
  border: none;
  border-radius: .5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.note-form>label{
  color: rgb(255, 0, 64);
  font-weight: 800;
  font-size: large;
}

button{
  margin-right: .75rem;
  padding: .35rem .75rem;
  border: none;
  border-radius: .5rem;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(9, 122, 79);
  background-color: rgb(200, 228, 253);
  box-shadow: 0px 0px 4px 2px rgb(247, 185, 17);
}

.notes{
  display: flex;
  justify-content: flex-start;
  padding-inline: 3rem;
  padding-block: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}


.note{
  padding : 1rem;
  width: 20rem;
  background-color: rgb(37, 35, 35);
  border-radius: 1.2rem;
  text-wrap: wrap;
  margin: .75rem;
}

.notes:hover{
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 2px rgb(245, 8, 79);
}

.note:hover{
  box-shadow: 0px 0px 3px 1px rgba(38, 136, 228, 0.986) ;
}

h2,h3{
  padding-bottom: .5rem;
  color: royalblue;
  font-size: 1.6rem;
  font-weight: 700;
}